body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--tertiary-bg-and-text-color);
    letter-spacing: 0.03em;
}

// font-family: 
// 'Inter','Lato' - sans-serif;    
// 'Rufina', serif;

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

img {
    display: block;
}